<h2>Edita tu cuenta</h2>

<div class="row">
  <div class="col-md-8">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.label :name, "Nombre" %>
        <%= f.text_field :name, class: 'form-control', placeholder: "Enter name", autofocus: true %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control', placeholder: "Enter email" %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class="form-group">
          <p>Waiting confirmation for:</p>
          <%= resource.unconfirmed_email %>
        </div>
      <% end %>
      <%# unless current_user.provider? %>
      <span class="help-block">Deja los siguientes campos en blanco si no quieres cambiar tu contraseña.</span>
      <div class="form-group">
        <%= f.label :password, "Contraseña" %>
        <%= f.password_field :password,autocomplete: "off", class: 'form-control', placeholder: "Ingresa la contraseña" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, "Confirmar contraseña" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: "Confirma la contraseña" %>
      </div>
      <%# end %>
      <div class="form-group">
        <%= f.submit "Update", class: 'btn btn-success' %>
      </div>
    <% end %>

    <h3>Cancelar mi cuenta</h3>
    <div class="form-group">
        <p><%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "Estas segura?" }, method: :delete, class: 'btn btn-danger btn-sm' %></p>
    </div>
  </div>
</div>