<h3><%= @lista.nombre %></h3>
<% if @lista.regalos.empty? %>
<%= link_to "Añadir tu primer regalo", new_lista_regalo_path(@lista), class: "btn btn-primary" %>
<% else %>
<%= link_to "Ver todos los regalos", lista_regalos_path(@lista), class: "btn btn-primary" %>
<% end %>
<div class="col-md-12">
  <section class="col-md-4"> 
    <h3>Todos los Regalos</h3>
    <div class="todos-list">
      <ol>
        <% @disponibles.each do |regalo| %>
        <li class="todos-item">
          <%= render partial: "regalos/regalo", locals: {regalo: regalo} %>
        </li>
        <% end %>
      </ol>
    </div>
  </section>
  <section class="col-md-4"> 
    <h3>Regalos reservados</h3>
    <div class="reservados-list">
      <% @reservados.each do |regalo| %>
      <ol>
        <li class="reservados-item">
          <%= render partial: "regalos/regalo", locals: {regalo: regalo} %>
        </li>
        <% end %>
      </ol>
    </div>
  </section>
  <section class="col-md-4"> 
    <h3>Regalos comprados</h3>
    <div class="comprados-list">
      <ol>
        <% @comprados.each do |regalo| %>
        <li class="comprados-item">
          <%= render partial: "regalos/regalo", locals: {regalo: regalo} %>
        </li>
        <% end %>
      </ol>
    </div>
  </section>
</div>

<%= link_to "Atrás", :back, class: "btn btn-default" %>
