<div class="container" id="listas-container">
  <ol class="breadcrumb">
    <li><%= link_to @fiesta.nombre, @fiesta %> / <%= @lista.nombre %></li>
  </ol>
  <div class="row">

    <ul class="nav nav-tabs" id="myTab">
      <li class="hidden-xs col-sm-4 col-md-4 col-lg-4 active"><%= link_to "#lista-disponibles", data: {toggle: "tab"} do %>
        <span class="fa fa-star-o"></span>
        <p>Disponibles</p>
        <% end %>
      </li>
      <li class="visible-xs col-xs-4"><%= link_to "#lista-disponibles", class: "btn btn-info btn-md", data: {toggle: "tab"} do %><span class="fa fa-star-o"></span>
        <p>Disponibles</p>
        <% end %></li>
      <li class="hidden-xs col-sm-4 col-md-4 col-lg-4"><%= link_to "#lista-reservados", data: {toggle: "tab"} do %>
        <span class="fa fa-star-half-full"></span>
        <p>Reservados</p>
        <% end %></li>
      <li class="visible-xs col-xs-4"><%= link_to "#lista-reservados", class: "btn btn-warning btn-md", data: {toggle: "tab"} do %><span class="fa fa-star-half-full"></span>
        <p>Reservados</p>
        <% end %></li>
      <li class="hidden-xs col-sm-4 col-md-4 col-lg-4"><%= link_to "#lista-comprados", data: {toggle: "tab"}  do %>
        <span class="fa  fa-star"></span>
        <p>Comprados</p>
        <% end %></li>
        <li class="visible-xs col-xs-4"><%= link_to "#lista-comprados", class: "btn btn-success btn-md",  data: {toggle: "tab"} do %>
        <span class="fa  fa-star"></span>
        <p>Comprados</p>
        <% end %></li>
    </ul>
  </div>

  <div class="row text-center">

     <div class="btn-group">
      <%= link_to fiesta_lista_regalos_path(@fiesta, @lista), class: "btn btn-success"  do %>
      <i class="glyphicon glyphicon-th-list"></i> lista unificada de regalos
      <% end %>
      </div>
  </div>
  <div class="tab-content">
    <div class="tab-pane active" id="lista-disponibles" data-selector="regalos">
      <div class="well well-sm">
          <strong>Regalos Disponibles </strong>
      </div>
      <div id="regalos-disponibles" class="row list-group">
        <% @disponibles.each do |regalo| %>
            <%= render partial: "regalos/regalo", locals: {fiesta: @fiesta, lista: @lista,regalo: regalo} %>
        <% end %>
      </div>
    </div>
    <div class="tab-pane" id="lista-reservados" data-selector="regalos-reservados">
       <div class="well well-sm">
          <strong>Regalos Reservados </strong>
      </div>
      <div id="regalos-reservados" class="row list-group">
        <% @reservados.each do |regalo| %>
            <%= render partial: "regalos/regalo", locals: {fiesta: @fiesta, lista: @lista, regalo: regalo} %>
        <% end %>
      </div>
    </div>
    <div class="tab-pane" id="lista-comprados" data-selector="regalos-comprados">
      <div class="well well-sm">
          <strong>Regalos Comprados </strong>
      </div>
      <div id="regalos-comprados" class="row list-group">
        <% @comprados.each do |regalo| %>
            <%= render partial: "regalos/regalo", locals: {fiesta: @fiesta, lista: @lista,regalo: regalo} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
  
  
<script>
var ready;
ready = function() {
  var $container = $('#regalos-disponibles');
  $container.imagesLoaded(function(){
    $container.masonry({
        itemSelector: '.item'
    });
    $('.item img').lazyload({
        effect: 'fadeIn'
    });
    $('.item img').trigger('scroll');
  });
  
  // Función mostrar tooltips
  $('.btn').tooltip();
  // Función prevenir múltiples clicks sobre un botón
  $('#reservado, #liberado, #comprado').click(function(){
    $(this).addClass('disabled');
  });
  // Función mostrar el modal de cada regalo
  $('.btn-modal').click(function(e){
    e.preventDefault();
    var selector = "#" + $(this).attr('data-selector');
    $(selector).modal('show');
    $('.modal').on('shown.bs.modal', function(){
      var deferreds = [];
      var imgs = $('.imagen', this).find('img');
      imgs.each(function(){
        var self = $(this);
        var datasrc = self.attr('data-original');
        if (datasrc) {
          var d = $.Deferred();
          self.one('load', d.resolve).attr("src", datasrc).attr('data-src', '');
          deferreds.push(d.promise());
        }
      });
      $.when.apply($, deferreds).done(function(){
        $(selector).find('#ajaxloader').hide();
      });
    });
  });
  // Función hover botón
  $(".hover").hover(function (e) {
        $(this).find('#ver-modal').css({"opacity": "0.9"});
        $(this).find('.btn-modal').css('box-shadow', '1px 1px 1px #888888');
    }, function (e) {
        $(this).find('#ver-modal').css({"opacity": "0"}); 
        $(this).find('.btn-modal').css('box-shadow', 'none');
    });
  // Función tabla de navegacion
   $('#myTab a').on('click', function (e) {
    e.preventDefault();
    $(this).tab('show');
    // Cargar Masonry para cada tab
      var $containercomprados = $('#regalos-comprados');
        $containercomprados.masonry({
        itemSelector: '.item'
      });
      var $containerreservados = $('#regalos-reservados');
        $containerreservados.masonry({
        itemSelector: '.item'
      });
    });
   
   // Función para grabar la selección de la tabla de navegación
    $("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
        var id = $(e.target).attr("href").substr(1);
        window.location.hash = id;
    });
     // al cargar ir a la tabla seleccionada
    var hash = window.location.hash;
    $('#myTab a[href="' + hash + '"]').tab('show');

   // Función toggle vistas lista y grilla
    // $('#lista').click(function(event){event.preventDefault();
    //   $('#regalos .item').addClass('list-group-item');
    // });

    // $('#grilla').click(function(event){event.preventDefault();
    //   $('#regalos .item').removeClass('list-group-item');
    //   $('#regalos .item').addClass('grid-group-item');
    // });

};
$(document).ready(ready);
$(document).on('page:load', ready);
</script>