<ol class="breadcrumb">
    <li>Fiestas / <%= link_to @fiesta.nombre, @fiesta %> / <%= @lista.nombre %></li>
  </ol>

  <% if @lista.regalos.empty? %>
  <div class="col-sm-12">
  <%= link_to "Añadir tu primer regalo", new_fiesta_lista_regalo_path(@fiesta,@lista), class: "btn btn-primary" %>
  </div>
  <% else %>
  <div class="col-sm-12">
  <% if policy(@lista).update? %>
  <div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Nota:</strong>
    No encuentras los regalos? Para ver todos los regalos ingresa <%= link_to "aquí", fiesta_lista_regalos_path(@fiesta, @lista)  %>.
  </div>
  <%= link_to "Añade un regalo", new_fiesta_lista_regalo_path(@fiesta, @lista), class: "btn btn-primary" %>
  <% end %>

  <% end %>
  <div class="clearfix"></div>
  <div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"> 
      <div class="panel panel-default">
        <div class="panel-heading">
          Regalos disponibles <span class="badge"><%= @disponibles.count %></span>
        </div>
        <div class="panel-body">
          <div class="todos-list">
            
              <% @disponibles.each do |regalo| %>
             
                <%= render partial: "regalos/regalo", locals: {fiesta: @fiesta, lista: @lista,regalo: regalo} %>
              <hr>
              <% end %>
            
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"> 
      <div class="panel panel-default">
        <div class="panel-heading">
          Regalos reservados <span class="badge"><%= @reservados.count %></span>
        </div>
        <div class="panel-body">
          <div class="reservados-list">
            <% @reservados.each do |regalo| %>
                <%= render partial: "regalos/regalo", locals: {fiesta: @fiesta, lista: @lista, regalo: regalo} %>
              <hr>
              <% end %>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"> 
      <div class="panel panel-default">
        <div class="panel-heading">
         Regalos comprados <span class="badge"><%= @comprados.count %></span>
        </div>
        <div class="panel-body">
          <div class="comprados-list">
          <% @comprados.each do |regalo| %>
          
            <%= render partial: "regalos/regalo", locals: {fiesta: @fiesta, lista: @lista, regalo: regalo} %>
            <hr>
          <% end %>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div>
</div>

<script>
var ready;
ready = function() {
  $('.btn-modal').click(function(e){
    e.preventDefault();
    var selector = "#" + $(this).attr('data-selector');
    console.log(selector);
    $(selector).modal('show');
  });
};
$(document).ready(ready);
$(document).on('page:load', ready);
</script>
