<div class="container" id="fiestas-container">
  <div class="row">
    <!-- Fiestas que tu organizas-->
     <div class="col-sm-12">
      <div class="well">
      <h3>Mis fiestas 
        <span class="badge badge-info"><%= @fiestas.count if @fiestas %></span>
      </h3>
      <span class="help-block">
        Las reuniones que tu organizas. Gestiona listas. Invita amigos.
      </span>
      </div>
      <% unless @fiestas.empty? %>
        <div>
          <% if policy(@fiesta).create? %>
            <%= link_to new_fiesta_path(@fiesta), class: "btn btn-md btn-primary" do %>
            añadir fiesta 
            <i class="fa  fa-plus-circle"></i>
            <% end %>
          <% end %>
        </div>
        <br>
        <% @fiestas.each do |fiesta| %>
        <div id="fiesta-<%= fiesta.id %>" class="lista-fiestas"><%= link_to fiesta.nombre, fiesta %></div>
        <% end %>
      <% else %>
       <% if policy(@fiesta).create? %>
       <div>
        <%= link_to " crea una fiesta", tour_fiestas_path, class: "btn btn-md btn-primary fa fa-plus"  %>
       </div>
        <span class="help-block">Anímate a crear tu primera fiesta. Es gratis!</span>

       <% end %>

      <% end %>
    </div>
  </div>
</div>
