<div class="container" id="fiestas-container">
  <div class="row">
    <!-- Fiestas a las que te invitan -->
    <div class="col-sm-12">
      <div class="well">
      <h3>Próximas fiestas</h3>
      <span class="help-block">
        Fiestas en las que esperan tu presencia.
      </span>
      </div>
      <% unless @fiestas_ids.empty? %>
        <% @fiestas_ids.each do |id| %>
        <div id="invitacion-<%= id %>" class="lista-fiestas">
          <div><span><small><strong>[
            <% if (Fiesta.find(id).fecha_y_hora_inicio.to_date - Date.today).to_i > 0 %>
              Faltan <%= pluralize((Fiesta.find(id).fecha_y_hora_inicio.to_date - Date.today).to_i, 'Día') %>
            <% elsif (Fiesta.find(id).fecha_y_hora_inicio.to_date - Date.today).to_i == 0 %>
              Hoy estamos de fiesta!
            <% else %>
              Finalizada.
            <% end %>]
          </strong></small></span></div>
          <span><strong><%= link_to Fiesta.find(id).nombre, fiesta_path(Fiesta.find(id)) %></strong></span>
          <span><small>Invita <%= Fiesta.find(id).users.first.email %></small></span>
         <!--  <% if Fiesta.find(id).listas.first %>
          <div><%= link_to "ver lista de regalos", fiesta_lista_path(Fiesta.find(id), Fiesta.find(id).listas.first), class: "btn btn-primary btn-xs" %></div>
          <% end %> -->
        </div>
        <% end %>
      <% else %>
        Algún día te sorprenderá. No pierdas la fe. Ya llegará la invitación!
      <% end %>
    </div>

  </div>
</div>
