<div class="container" id="fiestas-container">
  <div class="row">
    <!-- Fiestas a las que te invitan -->
    <div class="col-sm-12">
      <div class="well">
      <h3>Próximas fiestas <span class="badge badge-info"><%= @invitaciones_ids.count if @invitaciones_ids %></span></h3>
      <span class="help-block">
        Fiestas en las que esperan tu presencia.
      </span>
      </div>
      <% unless @invitaciones_ids.empty? %>
        <% @invitaciones_ids.each do |id| %>
        <div id="invitacion-<%= id %>" class="lista-fiestas">
          <span><small><strong>[
            <% if (Fiesta.find(id).fecha_y_hora_inicio.to_date - Date.today).to_i > 0 %>
              Faltan <%= pluralize((Fiesta.find(id).fecha_y_hora_inicio.to_date - Date.today).to_i, 'Día') %>
            <% elsif (Fiesta.find(id).fecha_y_hora_inicio.to_date - Date.today).to_i == 0 %>
              Hoy estamos de fiesta!
            <% else %>
              Finalizada.
            <% end %>]
          </strong></small></span>
          <span><strong><%= link_to Fiesta.find(id).nombre, fiesta_path(Fiesta.find(id)) %></strong></span>
          <span><small>Invitado por: <%= Fiesta.find(id).users.first.email %></small></span>
        </div>
        <% end %>
      <% else %>
        Algún día te sorprenderá. No pierdas la fe. Ya llegará!
      <% end %>
    </div>

  </div>
</div>
