<!-- ==== SECTION DIVIDER1 -->
  <section class="section-divider textdivider divider1">
    <div class="container">
      <div class="divider-contenidos">
         <h1><%= @fiesta.nombre %></h1>
          <hr>
          <p>Invita <%= @fiesta.users.first.name %></p>
          <% if policy(@fiesta).update? %>
            <span>
            <%= link_to "editar", edit_fiesta_path(@fiesta), class: "btn btn-primary btn-md" %></span>
            <span>
            <%= link_to "borrar", @fiesta, method: :delete, class: "btn btn-danger btn-md", data: {confirm: "Se eliminarán listas, regalos e invidatos, Estas seguro de borrar esta fiesta?"} %>
            </span>
          <% end %>
          <div class="hidden-xs divider-herramientas">
            <div class="divider-herramientas-lista">
              <div class="diviver-herramientas-lista-acciones">
                <a data-scroll href="#fecha" class="divider-herramientas-herramienta" data-toggle="tooltip" title="<%= @fiesta.fecha_y_hora_inicio.to_s %>">
                    <span id="herramienta-icon" class="fa fa-clock-o"></span>
                    <span>Cuándo? </span>
                </a>
                <%= link_to fiesta_lista_path(@fiesta, @lista),  class: "divider-herramientas-herramienta", data: {toggle: "tooltip", placement: "right"}, title: "lista de regalos" do %>
                  <span id="herramienta-icon" class="fa fa-gift"></span>
                  <span>Regalos</span>
                <% end %>
                <a data-scroll href="#listas" class="divider-herramientas-herramienta" data-toggle="tooltip" title="<%= @fiesta.convidados.count if @fiesta.convidados %>">
                 <span id="herramienta-icon" class="fa fa-group"></span>
                  <span>Invitados</span>
                </a>
                <a data-scroll href="#contacto" class="divider-herramientas-herramienta" data-toggle="tooltip" title="ver datos de contacto">
                  <span id="herramienta-icon" class="fa fa-envelope-o"></span>
                  <span>Contactar</span>
                </a>
              </div>
            </div>
          </div><!-- /herramientas-->
      </div> <!-- /contenidos -->
    </div><!-- container -->
  </section><!-- section -->

<section id="descripcion" name="descripcion"></section>
  <div id="intro">
    <div class="container">
      <div class="row">
        
        <div class="col-lg-2 col-lg-offset-1">
          <h5>Descripción</h5>
        </div>
        <div class="col-lg-6">
          <%= simple_format(@fiesta.descripcion) %>
        </div>
        <% if policy(@fiesta).update? %>
        <div class="col-lg-3">
          <div>
            <sm>Asistirán <%= @fiesta.convidados.where(asistencia: true).count %></sm>
          </div>
          <div>
            <sm>No asisten <%= @fiesta.convidados.where(asistencia: false).count %></sm>
          </div>
          <div>
            <sm>Invitados <%= @fiesta.convidados.count %></sm>
          </div>
          <div>
            <%= link_to "ver lista de invitados", fiesta_convidados_path(@fiesta) , class: "btn btn-xs btn-primary"%>
          </div>
        </div>
        <% else %>
        <% if policy(@fiesta).show? %>
        <div class="col-lg-3">
            <sm>
            <% if @fiesta.convidados.where(invitado_id: current_user.id).first.asistencia.nil? %>
            <span><%= link_to "confirmar asistencia", fiesta_convidado_confirmar_path(@fiesta, @fiesta.convidados.where(invitado_id: current_user.id).first ), class: "btn btn-success btn-xs" %></span>
            <span><%= link_to "declinar asistencia", fiesta_convidado_declinar_path(@fiesta, @fiesta.convidados.where(invitado_id: current_user.id).first ), class: "btn btn-danger btn-xs" %></span>
            <% else %>
              <% if @fiesta.convidados.where(invitado_id: current_user.id).first.asistencia == true %>
              Asistirás <i class="fa fa-check" style="font-size:12px;"></i> 
              <% else %>
              No asistirás <i class="fa fa-times" style="font-size:12px;"></i> 
              <% end %>
            <% end %>
          </sm>
          <p><imp style=" padding: 6px; color: white;background: #34495e;"><sm>RSVP</sm></imp></p>
        </div>
        <% end %>
        <% end %>
      </div><!--/.row -->
    </div><!--/.container -->
  </div><!--/ #intro -->

<section id="fecha" name="fecha"></section>
<div class="container desc">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-1">
      <h5>Fecha y Hora</h5>
    </div>
    <div class="col-lg-6">
      <p>
         <%= time_tag(@fiesta.fecha_y_hora_inicio.to_date) %> <t> inicio - </t><%= (Time.parse(@fiesta.fecha_y_hora_inicio.to_s)).strftime('%l:%M %P') %><br/>
         <%= time_tag(@fiesta.fecha_y_hora_cierre.to_date) %><t> cierre - </t><%= (Time.parse(@fiesta.fecha_y_hora_cierre.to_s)).strftime('%l:%M %P') %><br/>
      </p>
    </div>
    <div class="col-lg-3">
      <p>
        <sm>
          <% if (@fiesta.fecha_y_hora_inicio.to_date - Date.today).to_i > 0 %>
         Faltan <%= pluralize((@fiesta.fecha_y_hora_inicio.to_date - Date.today).to_i, 'Día') %>
         <% elsif (@fiesta.fecha_y_hora_inicio.to_date - Date.today).to_i == 0 %>
            Hoy estamos de fiesta, Felicidades!
         <% else %>
         Ya pasó la reunión.
         <% end %>
        </sm>
        <br/>
        <imp><sm>Tiempo restante</sm></imp>
        
      </p>
    </div>
  </div>
  <br>
    <hr>
</div>

<section id="lugar" name="lugar"></section>
<div class="container desc">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-1">
      <h5>Lugar</h5>
    </div>
    <div class="col-lg-6">
      <p><t><%= @fiesta.lugar %></t></p>
    </div>
  </div>
  <br>
  <hr>
</div>

<section id="listas" name="listas"></section>
<div class="container desc">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-1">
      <h5>Listas</h5>
    </div>
    <div class="col-lg-9">
      <% if @fiesta.listas.empty? %>
        <% if policy(@fiesta).update? %>
        <div><%= link_to "crear lista de regalos", new_fiesta_lista_path(@fiesta), class: "btn btn-primary btn-lg" %></div>
        <% else %>
        <div>No hay listas de regalos disponibles aún. </div>
        <% end %>
        <% else %>
        <div>
          <span><%= link_to "ver lista de regalos", fiesta_lista_path(@fiesta, @lista), class: "btn btn-lg btn-info" %></span>
          <% if policy(@fiesta).update? %>
            <br>
            <span>
            <%= link_to "cambiar nombre", edit_fiesta_lista_path(@fiesta, @lista), class: "btn btn-primary btn-sm" %>
            </span>
            <span>
            <%= link_to "borrar", [@fiesta, @lista], method: :delete, class: "btn btn-danger btn-sm", data: {confirm: "Estas seguro de borrar esta lista?"} %>
            </span>
          <% end %>
        </div>
        <% end %>
        <br>
        <div><%= link_to "ver lista de invitados", fiesta_convidados_path(@fiesta) , class: "btn btn-lg btn-primary"%>
        </div>
    </div>
    </div>
    <br>

  </div>
<% unless policy(@fiesta).update? %>
<% if policy(@fiesta).show? %>
<section id="rsvp" name="rsvp"></section>
<div class="container desc">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-1">
      <h5>Asistirás?</h5>
      <% if @fiesta.convidados.where(invitado_id: current_user.id).first.asistencia.nil? %>
        <small>No has confirmado tu presencia </small>
        <% end %>
    </div>
    <div class="col-lg-6 well"> 
      <% if @fiesta.convidados.where(invitado_id: current_user.id).first.asistencia.nil? %>
        <div><%= link_to "confirmar asistencia", fiesta_convidado_confirmar_path(@fiesta, @fiesta.convidados.where(invitado_id: current_user.id).first ), class: "btn btn-success btn-lg" %>
        </div>
        <br>
        <div>
          <%= link_to "declinar asistencia", fiesta_convidado_declinar_path(@fiesta, @fiesta.convidados.where(invitado_id: current_user.id).first ), class: "btn btn-danger btn-lg" %>
        </div>
      <% else %>
        <% if @fiesta.convidados.where(invitado_id: current_user.id).first.asistencia == true %>
          <span>
            <p><t>Si Asistirás!</t></p>
          </span>
          <span>
          <%= link_to "cambiar de parecer", fiesta_convidado_declinar_path(@fiesta, @fiesta.convidados.where(invitado_id: current_user.id).first ), class: "btn btn-md btn-primary" , data: {confirm: "estas seguro de cancelar tu asistencia?"} %></span>
        <% else %>
          <span>
            <p><t>No asistirás.</t></p>
          </span>
          <span>
          <%= link_to "cambiar de parecer", fiesta_convidado_confirmar_path(@fiesta, @fiesta.convidados.where(invitado_id: current_user.id).first ), class: "btn btn-md btn-primary" , data: {confirm: "deseas reconfirmar tu asistencia?"}%>
          </span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
<% end %>
<br>
<section id="contacto" name="contacto"></section>
<!--FOOTER DESCRIPTION -->
  <div id="footwrap">
    <div class="container">
      <div class="row">
      
        <div class="col-lg-2 col-lg-offset-1">
          <h5>CONTACTO</h5>
        </div>
        <div class="col-lg-6">
          <p><t>Email</t><br/>
            <% if @fiesta.email_contacto.nil? || @fiesta.email_contacto.empty? %>
            <%= @fiesta.users.first.email %>
            <% else %>
            <%= @fiesta.email_contacto %> 
            <% end %>
            <br/>
          </p>
          <% unless @fiesta.telefono_contacto.nil? || @fiesta.telefono_contacto.empty? %>
          <p><t>Teléfono</t><br/>
            <%= @fiesta.telefono_contacto %> <br/>
          </p>
          <% end %>
        </div>
      </div><!--/.row -->
    </div><!--/.container -->
  </div><!--/ #footer -->

<script>
var ready;
ready = function() {
  // Función mostrar tooltips
  smoothScroll.init({
    speed: 500, // Integer. How fast to complete the scroll in milliseconds
    easing: 'easeInOutCubic', // Easing pattern to use
    offset: 20, // Integer. How far to offset the scrolling anchor location in pixels
  });
  $('a').tooltip({placement: 'right'});
  };
$(document).ready(ready);
$(document).on('page:load', ready);
</script>