<!-- ==== SECTION DIVIDER1 -->
  <section class="section-divider textdivider divider1">
    <div class="container">
      <h1><%= @fiesta.nombre %></h1>
      <hr>
      <p>Invita <%= @fiesta.users.first.name %></p>
      <% if policy(@fiesta).update? %>
        <span>
        <%= link_to "editar", edit_fiesta_path(@fiesta), class: "btn btn-primary btn-md" %></span>
        <span>
        <%= link_to "borrar", @fiesta, method: :delete, class: "btn btn-danger btn-md", data: {confirm: "Se eliminarán listas, regalos e invidatos, Estas seguro de borrar esta fiesta?"} %>
        </span>
      <% end %>
    </div><!-- container -->
  </section><!-- section -->

<section id="descripcion" name="descripcion"></section>
  <div id="intro">
    <div class="container">
      <div class="row">
        
        <div class="col-lg-2 col-lg-offset-1">
          <h5>Descripción</h5>
        </div>
        <div class="col-lg-6">
          <%= simple_format(@fiesta.descripcion) %>
        </div>
       <!--  <div class="col-lg-3">
          <p><a href="#"><i class="fa fa-check"></i></a> <sm>Confirmar asistencia</sm></p>
        </div> -->
        
      </div><!--/.row -->
    </div><!--/.container -->
  </div><!--/ #intro -->

<section id="fecha" name="fecha"></section>
<div class="container desc">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-1">
      <h5>Fecha y Hora</h5>
    </div>
    <div class="col-lg-6">
      <p>
         <% if (@fiesta.fecha_y_hora_inicio.to_date - Date.today).to_i > 0 %>
         <t>Faltan <%= pluralize((@fiesta.fecha_y_hora_inicio.to_date - Date.today).to_i, 'Día') %></t> <br>
         <% elsif (@fiesta.fecha_y_hora_inicio.to_date - Date.today).to_i == 0 %>
            <t>Hoy estamos de fiesta, Felicidades!</t> <br>
         <% else %>
         <t>Ya pasó la reunión.</t>
         <% end %>
         <%= time_tag(@fiesta.fecha_y_hora_inicio.to_date) %> <t> inicio - </t><%= (Time.parse(@fiesta.fecha_y_hora_inicio.to_s)).strftime('%l:%M %P') %><br/>
         <%= time_tag(@fiesta.fecha_y_hora_cierre.to_date) %><t> cierre - </t><%= (Time.parse(@fiesta.fecha_y_hora_cierre.to_s)).strftime('%l:%M %P') %><br/>
      </p>
    </div>
    <!-- <div class="col-lg-3">
      <p><sm>DD:HH:MM:SS</sm><br/>
      <imp><sm>Tiempo restante</sm></imp>
      </p>
    </div> -->
  </div>
  <br>
    <hr>
</div>

<section id="lugar" name="lugar"></section>
<div class="container desc">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-1">
      <h5>Lugar</h5>
    </div>
    <div class="col-lg-6">
      <p><t><%= @fiesta.lugar %></t></p>
    </div>
  </div>
  <br>
  <hr>
</div>

<section id="listas" name="listas"></section>
<div class="container desc">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-1">
      <h5>Listas</h5>
    </div>
    <div class="col-lg-9">
      <% if @fiesta.listas.empty? %>
        <% if policy(@fiesta).update? %>
        <div><%= link_to "Crear lista de regalos", new_fiesta_lista_path(@fiesta), class: "btn btn-primary btn-lg" %></div>
        <% else %>
        <div>No hay listas de regalos disponibles aún. </div>
        <% end %>
        <% else %>
        <span>
          <span><%= link_to "ver lista de regalos", fiesta_lista_path(@fiesta, @lista), class: "btn btn-lg btn-info" %></span>
          <% if policy(@fiesta).update? %>
          <br>
          <span>
          <%= link_to "cambiar nombre", edit_fiesta_lista_path(@fiesta, @lista), class: "btn btn-primary btn-sm" %>
          </span>
          <span>
          <%= link_to "borrar", [@fiesta, @lista], method: :delete, class: "btn btn-danger btn-sm", data: {confirm: "Estas seguro de borrar esta lista?"} %>
          </span>
        
          <% end %>
        </span>
        <% end %>
        <span><%= link_to "ver lista de invitados", fiesta_convidados_path(@fiesta) , class: "btn btn-lg btn-primary"%>
        </span>
    </div>
    </div>
    <br>

  </div>
<% if policy(@fiesta).show? %>
<section id="rsvp" name="rsvp"></section>
<div class="container desc">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-1">
      <h5>Asistirás?</h5>
      <% if @fiesta.convidados.where(invitado_id: current_user.id).first.asistencia.nil? %>
        <small>No has confirmado tu presencia </small>
        <% end %>
    </div>
    <div class="col-lg-6"> 
      <% if @fiesta.convidados.where(invitado_id: current_user.id).first.asistencia.nil? %>
        <span><%= link_to "confirmar asistencia", fiesta_convidado_confirmar_path(@fiesta, @fiesta.convidados.where(invitado_id: current_user.id).first ), class: "btn btn-success btn-lg" %>
          <%= link_to "declinar asistencia", fiesta_convidado_declinar_path(@fiesta, @fiesta.convidados.where(invitado_id: current_user.id).first ), class: "btn btn-danger btn-lg" %>
        </span>
      <% else %>
        <% if @fiesta.convidados.where(invitado_id: current_user.id).first.asistencia == true %>
          <span>
            <p><t>Si Asistirás!</t></p>
          </span>
          <span>
          <%= link_to "cambiar de parecer", fiesta_convidado_declinar_path(@fiesta, @fiesta.convidados.where(invitado_id: current_user.id).first ), class: "btn btn-md btn-primary" , data: {confirm: "estas seguro de cancelar tu asistencia?"} %></span>
        <% else %>
          <span>
            <p><t>No asistirás.</t></p>
          </span>
          <span>
          <%= link_to "cambiar de parecer", fiesta_convidado_confirmar_path(@fiesta, @fiesta.convidados.where(invitado_id: current_user.id).first ), class: "btn btn-md btn-primary" , data: {confirm: "deseas reconfirmar tu asistencia?"}%>
          </span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
<br>
<section id="contacto" name="contacto"></section>
<!--FOOTER DESCRIPTION -->
  <div id="footwrap">
    <div class="container">
      <div class="row">
      
        <div class="col-lg-2 col-lg-offset-1">
          <h5>CONTACTO</h5>
        </div>
        <div class="col-lg-6">
          <p><t>Email</t><br/>
            <% if @fiesta.email_contacto.nil? || @fiesta.email_contacto.empty? %>
            <%= @fiesta.users.first.email %>
            <% else %>
            <%= @fiesta.email_contacto %> 
            <% end %>
            <br/>
          </p>
          <% unless @fiesta.telefono_contacto.nil? || @fiesta.telefono_contacto.empty? %>
          <p><t>Teléfono</t><br/>
            <%= @fiesta.telefono_contacto %> <br/>
          </p>
          <% end %>
        </div>
      </div><!--/.row -->
    </div><!--/.container -->
  </div><!--/ #footer -->