<div class="fiesta">
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron">
        <h3><%= @fiesta.nombre.humanize.titleize %><% if policy(@fiesta).update? %>
          <small>
            <span>
              <%= link_to "editar", edit_fiesta_path(@fiesta), class: "btn btn-primary btn-xs" %></span>
            <span>
            <%= link_to "borrar", @fiesta, method: :delete, data: {confirm: "Estas seguro de borrar esta fiesta?"}, class: "btn btn-danger btn-xs" %>
            </span>
          </small>
          <% end %>
        </h3>
        <hr>
        <p><%= simple_format(@fiesta.descripcion) %></p>
       
        <p>Dónde: <strong><%= @fiesta.lugar %></strong></p>
      
        <p>Cuando: <strong><time><%= @fiesta.fecha_y_hora_inicio %></time></strong> a <strong><time><%= @fiesta.fecha_y_hora_cierre %></time></strong></p>
      </div> 
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="listas">
        <% if @fiesta.listas.empty? %>
        <% if policy(@fiesta).update? %>
        <span><%= link_to "Crear lista de regalos", new_fiesta_lista_path(@fiesta), class: "btn btn-primary btn-lg pull-left" %></span>
        <% else %>
        <span>No hay listas de regalos disponibles aún. </span>
        <% end %>
        <% else %>
        <span><%= link_to "ver lista de regalos", fiesta_lista_path(@fiesta, @lista), class: "btn btn-lg btn-primary pull-left" %></span>
        <% end %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="invitados">
        <span><%= link_to "ver lista de invitados", fiesta_convidados_path(@fiesta) , class: "btn btn-lg btn-primary pull-right"%></span>
      </div>
    </div>
  </div>
</div>
