<% case regalo.compromiso.value %>
    <% when "disponible" %>
    <div>
      <%= link_to "lo quiero reservar", fiesta_lista_regalo_reservar_path(regalo.lista.fiesta, regalo.lista, regalo), class: "btn btn-info btn-xs", data: {toggle: "tooltip", placement: "top"}, title: "Resérvalo antes de que sea demasiado tarde." %>
    </div>
    <% when "reservado" %>
    <% if current_user.id == regalo.compromiso.user_id ||policy(regalo).edit? %>
    <div>
      <%= link_to "liberarlo", fiesta_lista_regalo_liberar_path(regalo.lista.fiesta, regalo.lista, regalo), class: "btn btn-success btn-xs", data: {toggle: "tooltip", placement: "top"}, title: "Volverá a la lista de regalos disponibles" %>
    </div>
    <div>
      <%= link_to "lo he comprado", fiesta_lista_regalo_comprar_path(regalo.lista.fiesta, regalo.lista, regalo), class: "btn btn-info btn-xs", data: {toggle: "tooltip", placement: "top"}, title: "Notifica al anfitrión de tu compra" %>
    </div>
    <% else %>
      <div>
        <%= link_to "regalo reservado", "", class: "btn btn-default btn-xs disabled" %>
      </div>
    <% end %>
    <% when "comprado" %>
      <div>
      <%= link_to "regalo comprado", "", class: "btn btn-success btn-xs disabled" %>
      </div>
      <% if policy(regalo).edit? %>
          <div>comprado por <%= regalo.compromiso.user.name %>
          </div>
        <div>
        <%= link_to "liberar", fiesta_lista_regalo_liberar_path(regalo.lista.fiesta, regalo.lista, regalo), class: "btn btn-default btn-xs" %>
        </div>
      <% end %>
    <% end %>