<%= form_for [fiesta, lista, regalo], html: {class: "lista-form"} do |f| %>
    <% if regalo.errors.any? %>
    <div class="alert alert-danger">
        <% regalo.errors.full_messages.each do |msg| %>
          <div><%= msg %></div>
        <% end %>
    </div>
    <% end %>
    <%= form_group_tag(regalo.errors[:titulo]) do %>
      <div class="form-group">
        <%= f.label :titulo %>
        <%= f.text_field :titulo, class: 'form-control', placeholder: "Ingresa el nombre del regalo" %>
      </div>
    <% end %>

     <%= form_group_tag(regalo.errors[:descripcion]) do %>
      <div class="form-group">
        <%= f.label :descripcion, "Descripción" %>
        <%= f.text_area :descripcion, class: 'form-control', placeholder: "Cuéntales la importancia, hazlos parte de la experiencia, hazlos reír, que la razón de comprarlo no sea el objeto sino su utilidad.", rows: "3" %>
      </div>
    <% end %>
    
    <%= form_group_tag(regalo.errors[:imagen]) do %>
    <div><%= image_tag(regalo.imagen.normal.url) if regalo.imagen? %>
    </div>
      <div class="form-group">
        <%= f.label :imagen, "Subir una imagen" %>
        <%= f.file_field :imagen %>
      </div>

      <div class="form-group">
        <%= f.label :remote_imagen_url, "o haz copy/paste  de la dirección(URL) de la foto" %><br />
        <%= f.text_field :remote_imagen_url, class: "form-control", placeholder: "http://example.com/image.jpg" %>
      </div>
      <% end %>
       <%= form_group_tag(regalo.errors[:donde_lo_consigues]) do %>
      <div class="form-group">
        <%= f.label :donde_lo_consigues, "Dónde lo consigues? tips?" %>
        <%= f.text_area :donde_lo_consigues, class: 'form-control', placeholder: "Si quieres dar  indicaciones para explicar mejor tu producto, adelante!", rows: "2" %>
      </div>
      <% end %>
      <%= form_group_tag(regalo.errors[:url]) do %>
      <div class="form-group">
        <%= f.label :url, "o si prefieres compartir una página con información adicional?"%>
        <%= f.text_field :url, class: 'form-control', placeholder: "http:// o https:// " %>
      </div>
      <% end %>

    <%= f.submit "Guardar", class: 'btn btn-success' %>
    <% end %>