<div class="hover">
    <a href="" class="btn-modal" data-selector="<%= "modal-regalo-#{regalo.id}" %>"><span class="fa fa-search-plus" id="ver-modal">ver info</span>
    <%= image_tag(regalo.imagen.thumb.url, class: "lazy") if regalo.imagen? %>  
    </a>
    <%= regalo.titulo.to_s.humanize.titleize %>
    <% unless regalo.compromiso.nil? %>
    <% case regalo.compromiso.value %>
      <% when "disponible" %>
       <label class="badge alert-info">
        <%= regalo.compromiso.value %>
      </label>
      <% when "reservado" %>
      <label class="badge alert-warning">
        <%= regalo.compromiso.value %>
      </label>
      <% when "comprado" %>
      <label class="badge alert-success">
        <%= regalo.compromiso.value %>
      </label>
      <% end %>
    <% else %>
    <label class="badge alert-info">
      No publicado
    </label>
    <% end %>
    <div>
     <% if policy(regalo).edit? %>
       <%= link_to "Editar", edit_fiesta_lista_regalo_path(regalo.lista.fiesta, regalo.lista, regalo), class: "btn btn-primary btn-sm" %>
      <% unless regalo.compromiso.nil? %>
        <%= link_to "Quitar ", fiesta_lista_regalo_compromiso_path(regalo.lista.fiesta, regalo.lista, regalo, regalo.compromiso), method: :delete, class: "btn btn-warning btn-sm" %>
       <% else %>
        <%= link_to "Publicar en lista", fiesta_lista_regalo_liberar_path(regalo.lista.fiesta, regalo.lista, regalo), class: "btn btn-success btn-sm" %>
      <% end %>
        <%= link_to "Borrar", [regalo.lista.fiesta, regalo.lista, regalo], method: :delete, class: "btn btn-danger btn-sm" %>
     <% end %>
    </div>
  </div>
  <br>
  <%= render partial: 'regalos/modal', locals: {regalo: regalo} %>
