 <% unless regalo.compromiso.nil? %>
  <div class="regalo regalo-<%= regalo.id %>">
    <div class="regalo-body">
      <div>
        <a href="" class="btn btn-default btn-modal col-sm-12" data-selector="<%= "modal-regalo-#{regalo.id}" %>">
        <%= image_tag(regalo.imagen.thumb.url) if regalo.imagen? %>
        </a>
        <p class="col-sm-12">
        <small><%= regalo.titulo.to_s.humanize.titleize %></small>
        </p>
      </div> 
      
    </div>
    <div class="controles text-center">
      <%= render partial: "regalos/controles", locals: {regalo: regalo} %>
    </div><!-- /controles-->
  </div><!-- /regalo-->
  <!-- /controles-->
  <% else %>
  <% if policy(regalo).edit? %>
  <div class="regalo regalo-<%= regalo.id %>">
    <a href="" class="btn btn-default btn-modal col-sm-12" data-selector="<%= "modal-regalo-#{regalo.id}" %>"><div class="col-sm-12">
    <span>
      <%= image_tag(regalo.imagen.thumb.url) if regalo.imagen? %>
    </span> 
    <span>
      <%= regalo.titulo.to_s.humanize.titleize%>
    </span> 
    </div></a>
    <div class="controles">
      <span>
      <%= link_to "publicar en la lista", fiesta_lista_regalo_liberar_path(regalo.lista.fiesta, regalo.lista, regalo), class: "btn btn-success btn-xs" %>
      </span>
      <span>
        <%= link_to "Editar", edit_fiesta_lista_regalo_path(regalo.lista.fiesta, regalo.lista, regalo), class: "btn btn-primary btn-xs" %>
      </span>
      <span>
        <%= link_to "Eliminar", [regalo.lista.fiesta, regalo.lista, regalo], method: :delete, class: "btn btn-danger btn-xs" %>
      </span>
    </div>
  </div>
  <% end %>
<% end %>
<!-- modal begins -->
<%= content_tag :div, class: 'modal fade', id: "modal-regalo-#{regalo.id}",role: "dialog"  do %>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"><%= "#{regalo.titulo}" %></h4>
        </div>
        <div class="modal-body">
              <p><%= regalo.donde_lo_consigues %>
              </p>
              <p><%= link_to 'Más info aquí', regalo.url if regalo.url? %>
              </p>
              <hr>
              <div class="text-center">
              <%= image_tag(regalo.imagen.normal.url) if regalo.imagen? %></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
 <% end %><!-- /.modal -->

<!-- modal ends -->

<script type="text/javascript">
$('.btn').tooltip();
</script>