 <% unless regalo.compromiso.nil? %>
  <div class="regalo regalo-<%= regalo.id %> hovsw">
    <div class="regalo-body">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pull-left">
            <a href="" class="btn btn-default btn-modal" data-selector="<%= "modal-regalo-#{regalo.id}" %>">
              <span class="fa fa-search-plus" id="ver-modal"></span>
            <%= image_tag(regalo.imagen.thumb.url) if regalo.imagen? %>
            </a>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pull-left">
            <div>
              <small><strong><%= link_to regalo.titulo.to_s.humanize.titleize , [regalo.lista.fiesta, regalo.lista, regalo]%></strong></small>
            </div>
            <div class="controles">
              <%= render partial: "regalos/controles", locals: {regalo: regalo} %>
            </div><!-- /controles-->
          </div><!-- /col -->
        </div><!-- /row -->
        <% if policy(regalo).edit? %>
        <div class="Controles Editor">
        <div class="row">
          <div class="col-sm-12 pull-left">
            <span>
              <%= link_to "Editar", edit_fiesta_lista_regalo_path(regalo.lista.fiesta, regalo.lista, regalo), class: "btn btn-primary btn-xs" %>
            </span>
            <span >
              <%= link_to "ocultar de la lista", fiesta_lista_regalo_compromiso_path(regalo.lista.fiesta, regalo.lista, regalo, regalo.compromiso), method: :delete, class: "btn btn-warning btn-xs" %>
            </span>
            <span>
                <%= link_to "Borrar regalo", [regalo.lista.fiesta, regalo.lista, regalo], method: :delete, class: "btn btn-danger btn-xs" %>
              </span>
          </div>
        </div>
        </div>
        <% end %>
    </div>
  </div><!-- /regalo-->
  <!-- /controles-->
  <% else %>
  <% if policy(regalo).edit? %>
  <div class="regalo regalo-<%= regalo.id %> hovsw">
    <div class="regalo-body">
        <div class="row">
          <div class="col-lg-2 col-md-3 col-sm-4 col-xs-4 pull-left">
            <a href="" class="btn btn-default btn-modal" data-selector="<%= "modal-regalo-#{regalo.id}" %>">
            <%= image_tag(regalo.imagen.thumb.url) if regalo.imagen? %>
            </a>
          </div>
          <div class="col-lg-8 col-md-7 col-sm-8 col-xs-8 pull-left">
            <div>
             <p>
              <small><strong><%= link_to regalo.titulo.to_s.humanize.titleize , [regalo.lista.fiesta, regalo.lista, regalo]%></strong></small>
            </p>
            </div>
            <div class="controles Editor">
              <div class="row">
                <div class="col-sm-12 pull-left">
                  <span>
                  <%= link_to "publicar en la lista", fiesta_lista_regalo_liberar_path(regalo.lista.fiesta, regalo.lista, regalo), class: "btn btn-success btn-xs" %>
                  </span>
                  <span>
                    <%= link_to "Editar", edit_fiesta_lista_regalo_path(regalo.lista.fiesta, regalo.lista, regalo), class: "btn btn-primary btn-xs" %>
                  </span>
                  <span>
                    <%= link_to "Eliminar", [regalo.lista.fiesta, regalo.lista, regalo], method: :delete, class: "btn btn-danger btn-xs" %>
                  </span>
                </div>
              </div>
            </div>
          </div>
         </div><!-- /row -->
       </div>
  </div>
  <% end %>
<% end %>
<!-- modal begins -->
<%= content_tag :div, class: 'modal fade', id: "modal-regalo-#{regalo.id}",role: "dialog"  do %>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"><%= "#{regalo.titulo}" %></h4>
        </div>
        <div class="modal-body">
              <p><%= simple_format(regalo.descripcion) %>
              </p>
              <% unless regalo.donde_lo_consigues.nil? %>
              <p>Tip del anfitrión:
              <i><%= simple_format(regalo.donde_lo_consigues) %></i></p>
              
              <% end %>
              <p><%= link_to 'Link de referencia', regalo.url if regalo.url? %>
              </p>
              <hr>
              <div class="text-center" id="ajaxloader">
                 <sm> cargando imagen </sm>
                 <img src="/assets/grey.gif"></img>
              </div>  
              <div class="imagen text-center">
              <%= image_tag(regalo.imagen.normal.url, class: "lazy") if regalo.imagen? %></div>
              </div>
        <div class="modal-footer">
        <% unless regalo.compromiso.nil? %>
          <% case regalo.compromiso.value %>
            <% when "disponible" %>
              <%= link_to "Confirmar Reserva!", fiesta_lista_regalo_reservar_path(regalo.lista.fiesta, regalo.lista, regalo), class: "btn btn-info text-center" %>
            <% when "reservado" %>
            <%= link_to "regalo reservado", "", class: "btn btn-default disabled" %>
            <% if current_user == regalo.compromiso.user || policy(regalo).edit? %>
              <%= link_to "liberarlo", fiesta_lista_regalo_liberar_path(regalo.lista.fiesta, regalo.lista, regalo), class: "btn btn-success", data: {toggle: "tooltip", placement: "top"}, title: "Volverá a la lista de regalos disponibles" %>
              <%= link_to "lo he comprado", fiesta_lista_regalo_comprar_path(regalo.lista.fiesta, regalo.lista, regalo), class: "btn btn-info", data: {toggle: "tooltip", placement: "top"}, title: "Notifica al anfitrión de tu compra" %>
            <% end %>
            <% when "comprado" %>
              <%= link_to "regalo comprado", "", class: "btn btn-success disabled" %>
              <% if policy(regalo).edit? %>
              <%= link_to "liberar", fiesta_lista_regalo_liberar_path(regalo.lista.fiesta, regalo.lista, regalo), class: "btn btn-default" %>
              <% end %>
            <% end %>
            <% end %>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
 <% end %><!-- /.modal -->

<!-- modal ends -->