<div class="container" id="regalos-index-container">
<ol class="breadcrumb">
    <li><%= link_to @fiesta.nombre, @fiesta %> / <%= link_to @lista.nombre, [@fiesta, @lista] %> / regalos </li>
  </ol>

<% if policy(@lista).create? %>

<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">×</button>
   Reordena los elementos de la lista arrastrándolos. Así se verán en la vista principal. 
</div>
<div>
<%= link_to "añade un regalo a la lista", new_fiesta_lista_regalo_path(@fiesta, @lista), class: "btn btn-primary" %>
</div>
<br>
<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <ol id="sortable" data-update-url="<%= ordenar_fiesta_lista_regalos_url(@fiesta, @lista) %>">
    <% @regalos.each do |regalo| %>
      <%= content_tag_for :li, regalo do %>
        <%= render partial: "regalos/lista_regalos", locals: {regalo: regalo} %>
      <% end %>
    <% end %>
  </ol>
</div>
<% else %>
<div class="row col-lg-6 col-md-6 col-sm-6 col-xs-12">
 <ul id="lista-regalos">
    <% @regalos.each do |regalo| %>
      <%= content_tag_for :li, regalo do %>
        <%= render partial: "regalos/lista_regalos", locals: {regalo: regalo} %>
        <%= render partial: "regalos/controles", locals: {regalo: regalo} %>
      <% end %>
      <br>
    <% end %>
  </ul>
</div>
<% end %>
<script>
var ready;
ready = function() {
   $("img").lazyload({
    placeholder: "<%= asset_path 'grey.gif' %>",
    effect : "fadeIn", 
    failure_limit   : 5
  });
  $('.btn').tooltip();
   $('#sortable').sortable({
    axis: 'y',
    update: function() {
      $.post($(this).data('update-url'), $(this).sortable('serialize'));
    }
  });
   $( "#sortable" ).disableSelection(); 
  $('.btn-modal').click(function(e){
    e.preventDefault();
    var selector = "#" + $(this).attr('data-selector');
    $(selector).modal('show');
    $('.modal').on('shown.bs.modal', function(){
      var deferreds = [];
      var imgs = $('.imagen', this).find('img');
      imgs.each(function(){
        var self = $(this);
        var datasrc = self.attr('data-original');
        if (datasrc) {
          var d = $.Deferred();
          self.one('load', d.resolve).attr("src", datasrc).attr('data-src', '');
          deferreds.push(d.promise());
        }
      });
      $.when.apply($, deferreds).done(function(){
        $(selector).find('#ajaxloader').hide();
      });
    });
  });
    $(".hover").hover(function (e) {
        $(this).find('#ver-modal').css({"opacity": "0.9"});
        $(this).find('.btn-modal').css('box-shadow', '1px 1px 1px #888888');
    }, function (e) {
        $(this).find('#ver-modal').css({"opacity": "0"}); 
        $(this).find('.btn-modal').css('box-shadow', 'none');
    });
  
};
$(document).ready(ready);
$(document).on('page:load', ready);
</script>

