<h3>Nuevo Regalo</h3>
<p>Un regalo a la vez para... <%= @fiesta.nombre %></p>
<%= form_for @regalo, url: fiesta_lista_regalos_path(@fiesta, @lista), html: {class: "lista-form"} do |f| %>
    <% if @regalo.errors.any? %>
    <div class="alert alert-danger">
        <% @regalo.errors.full_messages.each do |msg| %>
          <div><%= msg %></div>
        <% end %>
    </div>
    <% end %>
    <%= form_group_tag(@regalo.errors[:titulo]) do %>
      <div class="form-group">
        <%= f.label :titulo %>
        <%= f.text_field :titulo, class: 'form-control', placeholder: "Ingresa el nombre del regalo" %>
      </div>
    <% end %>
    <%= form_group_tag(@regalo.errors[:imagen]) do %>
      <div class="form-group">
        <%= f.label :imagen, "Añade una imagen" %>
        <%= f.file_field :imagen %>
      </div>

      <div class="form-group">
        <%= f.label :remote_imagen_url, "o haz copy/paste  de la dirección(URL) de la foto" %><br />
        <%= f.text_field :remote_imagen_url, class: "form-control", placeholder: "http://example.com/image.jpg" %>
      </div>
      <% end %>
       <%= form_group_tag(@regalo.errors[:donde_lo_consigues]) do %>
      <div class="form-group">
        <%= f.label :donde_lo_consigues, "Dónde lo consigues?" %>
        <%= f.text_area :donde_lo_consigues, class: 'form-control', placeholder: "Si quieres dar  indicaciones para explicar mejor tu producto, adelante!", cols: 40, row: "20" %>
      </div>
      <% end %>
      <%= form_group_tag(@regalo.errors[:url]) do %>
      <div class="form-group">
        <%= f.label :url, "o si prefieres compartir una página con información adicional?"%>
        <%= f.text_field :url, class: 'form-control', placeholder: "http:// o https:// " %>
      </div>
      <% end %>

    <%= f.submit "Guardar", class: 'btn btn-success' %>
    <% end %>