<div class="container" id="regalos-container">
<ol class="breadcrumb">
  <li><%= link_to @fiesta.nombre, @fiesta %> / <%= link_to @lista.nombre, [@fiesta, @lista] %> / regalos / <%= @regalo.titulo %>
  </li>
</ol>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= @regalo.titulo.to_s.humanize.titleize %>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-4">

        <%= image_tag(@regalo.imagen.normal.url, class: "lazy") if @regalo.imagen? %>
        </div>
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-12">
            <%= simple_format(@regalo.descripcion) %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <% unless @regalo.donde_lo_consigues.nil? %>
              <p>Dónde lo podrías conseguir:</p>
              <p><%= simple_format(@regalo.donde_lo_consigues) %></p>
              <% end %>
              <p><%= link_to 'link de referencia del producto', @regalo.url if @regalo.url? %> 
              </p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-12">
          <% if policy(@regalo).edit? %>
            <div class="controles">
              <% if @regalo.compromiso.nil? %>
              <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Estado</strong>
                Regalo se encuentra oculto. 
              </div>
              <span>
              <%= link_to "publicarlo en la lista", fiesta_lista_regalo_liberar_path(@regalo.lista.fiesta, @regalo.lista, @regalo), class: "btn btn-success btn-xs" %>
              </span>
              <% else %>
              <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Estado</strong>
                Regalo público. 
              </div>
              <span>
              <%= link_to "ocultar de la lista", fiesta_lista_regalo_compromiso_path(@regalo.lista.fiesta, @regalo.lista, @regalo, @regalo.compromiso), method: :delete, class: "btn btn-warning btn-xs" %>
              </span>
              <% end %>
              <span>
                <%= link_to "Editar", edit_fiesta_lista_regalo_path(@regalo.lista.fiesta, @regalo.lista, @regalo), class: "btn btn-primary btn-xs" %>
              </span>
              <span>
                <%= link_to "Borrar regalo", [@regalo.lista.fiesta, @regalo.lista, @regalo], method: :delete, class: "btn btn-danger btn-xs" %>
              </span>
            </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>

<%= link_to "<< Volver a lista", fiesta_lista_path(@fiesta, @lista) , class: "btn btn-primary btn-xs"%>
</div>

<script>
var ready;
ready = function() {
  $("img").lazyload({
    placeholder: "<%= asset_path 'grey.gif' %>",
    effect : "fadeIn"
  });
};
$(document).ready(ready);
$(document).on('page:load', ready);
</script>

