<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="La Lista - Aplicación para hacer listas de regalos">
    <meta name="author" content="la-lista">
    <meta name="keyword" content="listas de regalos, babyshower, shower de apartamento, listas de novios ">
  <title>La Lista</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
     <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
  <div id="navbar-main">
      <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <%= link_to root_path, class: "navbar-brand hidden-xs hidden-sm" do %>
          <span class="fa fa-book" style="font-size:25px; color:#fff;"> La lista</span>
          <% end %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <% if current_user %>
            <li> <%= link_to fiestas_path do %>
              <i class="fa fa-ticket"></i> Fiestas
             <% end %></li>
            <li> <%= link_to invitaciones_path do %><i class="fa fa-envelope"></i> Invitaciones<% end %></li>
            <li> <%= link_to regalos_reservados_path do %>
              <i class="fa fa-gift"></i> Regalos<% end %></li>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <div class="user-info">
            <% if current_user %>
              Hola <%= link_to (current_user.name || current_user.email), edit_user_registration_path %>! <%= link_to destroy_user_session_path, method: :delete do %>
               Cerrar sesión <i class="fa fa-power-off"></i>
              <% end %>
            <% else %>
              <%= link_to "Ya eres miembro? Ingresa", ingresar_path %> 
            <% end %>
            </div>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <%= yield %>
  <%= render 'layouts/messages' %>
</body>
</html>
