<!DOCTYPE html>
<html>
<head>
  <title>La Lista</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <ul class="nav nav-tabs">
      <li><%= link_to "Inicio", root_path %></li>
      <% if current_user %>
        <li class="pull-left">
          <%= link_to "Fiestas", fiestas_path %>
        </li>
        
        <% end %>
      <div class="pull-right user-info">
       <% if current_user %>
         Hola <%= current_user.email %>! <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %>
       <% else %>
         <%= link_to "Ya eres miembro?", ingresar_path %> 
       <% end %>
      </div>
    </ul>
    <%= render 'layouts/messages' %>
    <%= yield %>
  </div>
</body>
</html>
